{% if plateNum is not empty %}
<p>The car plate is {{ plateNum }}.</p>
{% endif %}

<p>The car id is {{ bookid }}.</p> 

{% if cost is not empty %} 

<h5>The total cost is {{ cost }} euros.<br>
Please check 'Payment' when the receipt has been issued.</h5>
{% endif %} 

<div> {{ departureform }}</div>