<div class="depart-form">
<div>{% if plateNum is not empty %}
<p>The vehicle plate is {{ plateNum }}.</p>
{% endif %}

{% if bookid is not empty %}
<p>The vehicle id is {{ bookid }}.</p> 
{% endif %}

{% if cost is not empty %} 

<p>The total cost is {{ cost }} euros.<br>
Please check 'Payment' when the receipt has been issued.</p>
{% endif %} 

</div>

<div> {{ departureform }}</div>
</div>